In [22]:
import pandas as pd

In [2]:
url = ("https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv")
datos = pd.read_csv(url,sep=';')

# Crear columnas numericas

## **Demandas de DEV**
- `valor_mensual`: Esta columna debe contener los gastos mensuales de cada propiedad, incluyendo el alquiler y el condominio.

- `valor_anual`: Esta columna debe contener los gastos anuales por propiedad, es decir, el Impuesto m치s 12 meses de alquiler y condominio.

In [4]:
datos.shape

(25121, 9)

In [5]:
# 1. Crear la columna 'valor_mensual'
datos['Valor_mensual'] = datos['Valor'] + datos['Condominio']
datos.head(5)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto,Valor_mensual
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0,7700.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5,32270.0
3,Departamento,Centro Hist칩rico,1,0,0,15,2800.0,1365.0,70.0,4165.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN,3605.0

In [6]:
# 2. Crear la columna 'valor_anual'
datos['Valor_anual'] = datos['Valor_mensual'] * 12 + datos['Impuesto']
datos.head(5)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto,Valor_mensual,Valor_anual
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0,7700.0,92610.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5,32270.0,391128.5
3,Departamento,Centro Hist칩rico,1,0,0,15,2800.0,1365.0,70.0,4165.0,50050.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN,3605.0,NaN

## Crear columnas categ칩ricas

`Descripcion`: Esta columna debe contener un resumen de la informaci칩n clave de las propiedades que se mostrar치n en el sitio web: tipo de propiedad, barrio, cantidad de habitaciones y plazas de estacionamiento.

`Tiene_suite`: Esta debe ser una columna que indique 칰nicamente si la propiedad tiene o no suites, sin importar la cantidad.

In [19]:
datos['Descripcion'] = datos['Tipo'] +' en la colonia '+datos['Colonia'] + ' con '+str(datos['Habitaciones'])

datos.head(5)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto,Valor_mensual,Valor_anual,Descripcion
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0,7700.0,92610.0,Cocineta en la colonia Condesa con 0 1\...
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN,NaN,NaN,Casa en la colonia Polanco con 0 1\n1 ...
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5,32270.0,391128.5,Conjunto Comercial/Sala en la colonia Santa Fe...
3,Departamento,Centro Hist칩rico,1,0,0,15,2800.0,1365.0,70.0,4165.0,50050.0,Departamento en la colonia Centro Hist칩rico co...
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN,3605.0,NaN,Departamento en la colonia Del Valle con 0 ...

In [21]:
datos['Tiene_suite'] = datos['Suites'].apply(lambda x: 'Si' if x > 0 else 'No')
datos.head(5)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto,Valor_mensual,Valor_anual,Descripcion,Tiene_suite
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0,7700.0,92610.0,Cocineta en la colonia Condesa con 0 1\...,No
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN,NaN,NaN,Casa en la colonia Polanco con 0 1\n1 ...,Si
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5,32270.0,391128.5,Conjunto Comercial/Sala en la colonia Santa Fe...,No
3,Departamento,Centro Hist칩rico,1,0,0,15,2800.0,1365.0,70.0,4165.0,50050.0,Departamento en la colonia Centro Hist칩rico co...,No
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN,3605.0,NaN,Departamento en la colonia Del Valle con 0 ...,No